In [1]:
import os
import pandas as pd
import numpy as np

df = pd.read_csv(r"C:\Users\laksh\Desktop\UNCLEANED DOE DATA 2017-18\UNCLEANEDMathPerformanceTrends.csv", encoding='cp1252')
df.head(10)

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,Year,Grade_Subject,Subject,MetExcExpPerc
0,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,2017-18,Grade 5,Math,31
1,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,2017-18,Grade 5,Math,31
2,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,2017-18,Grade 6,Math,29
3,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,2017-18,Grade 6,Math,29
4,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,2017-18,Grade 7,Math,49
5,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,2017-18,Grade 7,Math,49
6,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,2017-18,Grade 8,Math,*
7,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,2017-18,Grade 8,Math,*
8,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,2017-18,Algebra I,Math,79
9,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,2017-18,Algebra I,Math,79

In [2]:
df.isnull().sum()

CountyCode       0
CountyName       0
DistrictCode     0
DistrictName     0
SchoolCode       0
SchoolName       0
Year             0
Grade_Subject    0
Subject          0
MetExcExpPerc    0
dtype: int64

In [3]:
df.dtypes

CountyCode        int64
CountyName       object
DistrictCode      int64
DistrictName     object
SchoolCode        int64
SchoolName       object
Year             object
Grade_Subject    object
Subject          object
MetExcExpPerc    object
dtype: object

In [4]:
df['MetExcExpPerc'].replace(['*'],9999999)

0             31
1             31
2             29
3             29
4             49
5             49
6        9999999
7        9999999
8             79
9             79
10            79
11            53
12            53
13            58
14            58
15       9999999
16       9999999
17       9999999
18            18
19            18
20            18
21       9999999
22       9999999
23       9999999
24            34
25            34
26            27
27            27
28            44
29            44
          ...
18648    9999999
18649    9999999
18650    9999999
18651    9999999
18652    9999999
18653    9999999
18654         30
18655         30
18656         24
18657         24
18658         11
18659         11
18660         18
18661         18
18662         16
18663         16
18664         12
18665         12
18666         62
18667         62
18668         38
18669         38
18670         23
18671         23
18672         22
18673         22
18674         28
18675         28
18676         16
18677         16
Name: MetExcExpPerc, Length: 18678, dtype: object

In [5]:
df.MetExcExpPerc = df.MetExcExpPerc.astype(float)

ValueError: could not convert string to float: '*'

In [6]:
df.loc[df['MetExcExpPerc']=='*']

,CountyCode,CountyName,DistrictCode,DistrictName,SchoolCode,SchoolName,Year,Grade_Subject,Subject,MetExcExpPerc
6,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,2017-18,Grade 8,Math,*
7,1,ATLANTIC,10,ABSECON CITY,50,EMMA C ATTALES,2017-18,Grade 8,Math,*
15,1,ATLANTIC,110,ATLANTIC CITY,10,ATLANTIC CITY HIGH SCHOOL,2017-18,Algebra I,Math,*
16,1,ATLANTIC,110,ATLANTIC CITY,10,ATLANTIC CITY HIGH SCHOOL,2017-18,Algebra I,Math,*
17,1,ATLANTIC,110,ATLANTIC CITY,10,ATLANTIC CITY HIGH SCHOOL,2017-18,Algebra I,Math,*
21,1,ATLANTIC,110,ATLANTIC CITY,10,ATLANTIC CITY HIGH SCHOOL,2017-18,Geometry,Math,*
22,1,ATLANTIC,110,ATLANTIC CITY,10,ATLANTIC CITY HIGH SCHOOL,2017-18,Geometry,Math,*
23,1,ATLANTIC,110,ATLANTIC CITY,10,ATLANTIC CITY HIGH SCHOOL,2017-18,Geometry,Math,*
59,1,ATLANTIC,110,ATLANTIC CITY,60,TEXAS AVENUE SCHOOL,2017-18,Grade 7,Math,*
60,1,ATLANTIC,110,ATLANTIC CITY,60,TEXAS AVENUE SCHOOL,2017-18,Grade 7,Math,*
68,1,ATLANTIC,110,ATLANTIC CITY,70,NEW YORK AVENUE SCHOOL,2017-18,Grade 4,Math,*
69,1,ATLANTIC,110,ATLANTIC CITY,70,NEW YORK AVENUE SCHOOL,2017-18,Grade 4,Math,*
70,1,ATLANTIC,110,ATLANTIC CITY,70,NEW YORK AVENUE SCHOOL,2017-18,Grade 5,Math,*
71,1,ATLANTIC,110,ATLANTIC CITY,70,NEW YORK AVENUE SCHOOL,2017-18,Grade 5,Math,*
72,1,ATLANTIC,110,ATLANTIC CITY,70,NEW YORK AVENUE SCHOOL,2017-18,Grade 6,Math,*
73,1,ATLANTIC,110,ATLANTIC CITY,70,NEW YORK AVENUE SCHOOL,2017-18,Grade 6,Math,*
74,1,ATLANTIC,110,ATLANTIC CITY,70,NEW YORK AVENUE SCHOOL,2017-18,Grade 7,Math,*
75,1,ATLANTIC,110,ATLANTIC CITY,70,NEW YORK AVENUE SCHOOL,2017-18,Grade 7,Math,*
76,1,ATLANTIC,110,ATLANTIC CITY,70,NEW YORK AVENUE SCHOOL,2017-18,Grade 8,Math,*
77,1,ATLANTIC,110,ATLANTIC CITY,70,NEW YORK AVENUE SCHOOL,2017-18,Grade 8,Math,*
78,1,ATLANTIC,110,ATLANTIC CITY,80,UPTOWN SCHOOL COMPLEX,2017-18,Grade 3,Math,*
79,1,ATLANTIC,110,ATLANTIC CITY,80,UPTOWN SCHOOL COMPLEX,2017-18,Grade 3,Math,*
80,1,ATLANTIC,110,ATLANTIC CITY,80,UPTOWN SCHOOL COMPLEX,2017-18,Grade 4,Math,*
81,1,ATLANTIC,110,ATLANTIC CITY,80,UPTOWN SCHOOL COMPLEX,2017-18,Grade 4,Math,*
82,1,ATLANTIC,110,ATLANTIC CITY,80,UPTOWN SCHOOL COMPLEX,2017-18,Grade 5,Math,*
83,1,ATLANTIC,110,ATLANTIC CITY,80,UPTOWN SCHOOL COMPLEX,2017-18,Grade 5,Math,*
84,1,ATLANTIC,110,ATLANTIC CITY,80,UPTOWN SCHOOL COMPLEX,2017-18,Grade 6,Math,*
85,1,ATLANTIC,110,ATLANTIC CITY,80,UPTOWN SCHOOL COMPLEX,2017-18,Grade 6,Math,*
88,1,ATLANTIC,110,ATLANTIC CITY,80,UPTOWN SCHOOL COMPLEX,2017-18,Grade 8,Math,*
89,1,ATLANTIC,110,ATLANTIC CITY,80,UPTOWN SCHOOL COMPLEX,2017-18,Grade 8,Math,*
...,...,...,...,...,...,...,...,...,...,...
18444,80,CHARTERS,7410,CHARTER~TECH HIGH SCHOOL,940,CHARTERTECH HIGH SCHOOL FOR THE PERFORMING ARTS,2017-18,Geometry,Math,*
18468,80,CHARTERS,7503,PATERSON CS FOR SCI/TECH,970,PATERSON CHARTER SCHOOL FOR SCIENCE/TECHNOLOGY,2017-18,Algebra II,Math,*
18469,80,CHARTERS,7503,PATERSON CS FOR SCI/TECH,970,PATERSON CHARTER SCHOOL FOR SCIENCE/TECHNOLOGY,2017-18,Algebra II,Math,*
18470,80,CHARTERS,7503,PATERSON CS FOR SCI/TECH,970,PATERSON CHARTER SCHOOL FOR SCIENCE/TECHNOLOGY,2017-18,Algebra II,Math,*
18471,80,CHARTERS,7503,PATERSON CS FOR SCI/TECH,970,PATERSON CHARTER SCHOOL FOR SCIENCE/TECHNOLOGY,2017-18,Geometry,Math,*
18472,80,CHARTERS,7503,PATERSON CS FOR SCI/TECH,970,PATERSON CHARTER SCHOOL FOR SCIENCE/TECHNOLOGY,2017-18,Geometry,Math,*
18473,80,CHARTERS,7503,PATERSON CS FOR SCI/TECH,970,PATERSON CHARTER SCHOOL FOR SCIENCE/TECHNOLOGY,2017-18,Geometry,Math,*
18484,80,CHARTERS,7540,PRINCETON CS,930,PRINCETON CHARTER SCHOOL,2017-18,Grade 8,Math,*
18485,80,CHARTERS,7540,PRINCETON CS,930,PRINCETON CHARTER SCHOOL,2017-18,Grade 8,Math,*
18489,80,CHARTERS,7540,PRINCETON CS,930,PRINCETON CHARTER SCHOOL,2017-18,Algebra II,Math,*
18490,80,CHARTERS,7540,PRINCETON CS,930,PRINCETON CHARTER SCHOOL,2017-18,Algebra II,Math,*
18491,80,CHARTERS,7540,PRINCETON CS,930,PRINCETON CHARTER SCHOOL,2017-18,Algebra II,Math,*
18517,80,CHARTERS,7720,THE RED BANK CS,915,RED BANK CHARTER SCHOOL,2017-18,Grade 8,Math,*
18518,80,CHARTERS,7720,THE RED BANK CS,915,RED BANK CHARTER SCHOOL,2017-18,Grade 8,Math,*
18530,80,CHARTERS,7727,RIDGE AND VALLEY CS,900,RIDGE AND VALLEY CHARTER SCHOOL,2017-18,Grade 7,Math,*
18531,80,CHARTERS,7727,RIDGE AND VALLEY CS,900,RIDGE AND VALLEY CHARTER SCHOOL,2017-18,Grade 7,Math,*
18560,80,CHARTERS,7735,MARIA L. VARISCO-ROGERS CS,975,MARIA VARISCO ROGERS CHARTER SCHOOL,2017-18,Grade 8,Math,*
18561,80,CHARTERS,7735,MARIA L. VARISCO-ROGERS CS,975,MARIA VARISCO ROGERS CHARTER SCHOOL,2017-18,Grade 8,Math,*
18601,80,CHARTERS,7891,COLLEGE ACHIEVE GREATER ASBURY PARK CHARTER SC...,904,COLLEGE ACHIEVE GREATER ASBURY PARK CHARTER SC...,2017-18,Grade 5,Math,*
18602,80,CHARTERS,7891,COLLEGE ACHIEVE GREATER ASBURY PARK CHARTER SC...,904,COLLEGE ACHIEVE GREATER ASBURY PARK CHARTER SC...,2017-18,Grade 5,Math,*
18603,80,CHARTERS,7891,COLLEGE ACHIEVE GREATER ASBURY PARK CHARTER SC...,904,COLLEGE ACHIEVE GREATER ASBURY PARK CHARTER SC...,2017-18,Grade 6,Math,*
18604,80,CHARTERS,7891,COLLEGE ACHIEVE GREATER ASBURY PARK CHARTER SC...,904,COLLEGE ACHIEVE GREATER ASBURY PARK CHARTER SC...,2017-18,Grade 6,Math,*
18607,80,CHARTERS,7892,COLLEGE ACHIEVE PATERSON CHARTER SCHOOL,909,COLLEGE ACHIEVE PATERSON CHARTER SCHOOL,2017-18,Grade 6,Math,*
18608,80,CHARTERS,7892,COLLEGE ACHIEVE PATERSON CHARTER SCHOOL,909,COLLEGE ACHIEVE PATERSON CHARTER SCHOOL,2017-18,Grade 6,Math,*
18648,80,CHARTERS,8060,UNIVERSITY ACADEMY CS,990,UNIVERSITY ACADEMY CHARTER HIGH SCHOOL,2017-18,Algebra II,Math,*
18649,80,CHARTERS,8060,UNIVERSITY ACADEMY CS,990,UNIVERSITY ACADEMY CHARTER HIGH SCHOOL,2017-18,Algebra II,Math,*
18650,80,CHARTERS,8060,UNIVERSITY ACADEMY CS,990,UNIVERSITY ACADEMY CHARTER HIGH SCHOOL,2017-18,Algebra II,Math,*
18651,80,CHARTERS,8060,UNIVERSITY ACADEMY CS,990,UNIVERSITY ACADEMY CHARTER HIGH SCHOOL,2017-18,Geometry,Math,*
18652,80,CHARTERS,8060,UNIVERSITY ACADEMY CS,990,UNIVERSITY ACADEMY CHARTER HIGH SCHOOL,2017-18,Geometry,Math,*
18653,80,CHARTERS,8060,UNIVERSITY ACADEMY CS,990,UNIVERSITY ACADEMY CHARTER HIGH SCHOOL,2017-18,Geometry,Math,*

In [7]:
df = df.replace('*',9999999)

In [8]:
df.loc[df['MetExcExpPerc']=='*']

Empty DataFrame
Columns: [CountyCode, CountyName, DistrictCode, DistrictName, SchoolCode, SchoolName, Year, Grade_Subject, Subject, MetExcExpPerc]
Index: []

In [9]:
df.MetExcExpPerc = df.MetExcExpPerc.astype(float)

In [10]:
df.dtypes

CountyCode         int64
CountyName        object
DistrictCode       int64
DistrictName      object
SchoolCode         int64
SchoolName        object
Year              object
Grade_Subject     object
Subject           object
MetExcExpPerc    float64
dtype: object

In [11]:
df.to_csv('cleanedMathPerformanceTrends2017-18.csv')